* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #1e3a5f, #0f172a);
}

.container {
  max-width: 1440px;
  padding: 20px 16px;
  margin: 0 auto;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 600px;
  height: 70vh;
  background: linear-gradient(145deg, #2563eb, #3b82f6);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.weather-input {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

input {
  padding: 10px 10px 10px 50px;
  border: none;
  width: 300px;
  height: 40px;
  padding-right: 50px;
}

.search-icon {
  position: absolute;
  color: #74c0fc;
  font-size: 24px;
  cursor: pointer;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
#suggestions {
  position: absolute;
  background-color: aliceblue;
  display: none;
  top: 100%;
  padding: 10px 10px 10px 50px;
  border: none;
  width: 300px;
  padding-right: 50px;
}
#suggestions div {
  padding: 10px;
  cursor: pointer;
}

#suggestions div:hover {
  background-color: #555;
}
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info-image img {
  max-width: 200px;
}

.weather-info h2 {
  color: aliceblue;
}

.weather-info-2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.weather-info-2 img {
  max-width: 60px;
  background-color: white;
}

.weather-info-2 div {
  color: azure;
  display: flex;
  align-items: center;
  gap: 20px;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #ffffff44;
  border-top: 6px solid #74c0fc;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  margin: 100px auto;
  display: none;
  z-index: 1000;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
